.control-bar {
  border: 1px solid black;
  background-color: grey;
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: 0px;
  display: flex;
}

.btn-container {
  display: flex;
  height: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.tempo {
  color: seashell;
  padding-left: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tempo-label {
  color: seashell;
}
.slider {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.MuiSlider-thumb {
  /* height: 25px !important;
  width: 25px !important; */
  /* bottom: 1px; */
}

.btn {
  height: 90%;
  width: 90%;
  border-radius: 10px;
}
/* .control-bar {
  padding-left: 150px;
  border: 1px solid black;
  background-color: grey;
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: 0px;
}

.btn {
  height: 50px;
  border-radius: 10px;
  color: whitesmoke;
  background-color: darkslategrey;
  margin: 5px;
}
.edit-controls {
  display: flex;
  flex-direction: row;
}

.slider-container {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  height: 50px;
  width: 50%;
}

.tempo {
  display: flex;
  justify-content: right;
  align-items: baseline;
  padding: 5px;
  margin-right: 25px;
  width: 20%;
  font-size: small;
}

.slider {
  display: flex;
  align-items: flex-end;

  height: 100%;
  width: 100%;
} */
