.header {
  display: flex;
  flex-direction: row;
  width: 95vw;
  height: 65px;
  margin-top: 10px;
}
.title {
  text-align: center;
}
.title-input {
  height: 40px;
  font-size: 20px;
  margin-top: 10px;
}
.header-left {
  flex: 1;
}
.header-center {
  display: flex;
  justify-content: center;

  flex: 4;
}
.header-right {
  display: flex;
  flex: 1;
  font-size: 10px;

  align-items: flex-end;
}

.windowTab {
  flex: 1;
  margin: 2px;
}
