.modal {
    height:50%;
    width:80%;
    position:fixed;
    left:10%;
    top:25%;
    background-color: seashell;
    border:3px;
    border-style:groove;
    border-color:grey;
    border-radius: 10px;
    box-shadow: 10px 5px 5px darkslategrey;
}

.hide{
    display: none
}

