.modal {
    height:50%;
    width:50%;
    position:fixed;
    left:25%;
    top:25%;
    background-color: bisque;
    border:3px;
    border-style:groove;
    border-color:grey;
    border-radius: 10px
}

.container {
    margin-top:150px;
    bottom:100px;
    position:fixed;
    height:100%;
    width:100%;
    background-color:rgba(173, 216, 230, 0.344);
    z-index: 1000;
}