.measure-container {
  display: flex;

  flex-grow: 0.25;
}

.the-rest {
  width: 100%;
}

.time {
  display: flex;

  width: 2.9vw;
  flex-direction: column;
}

.staffs {
  display: flex;

  flex: 1;
  flex-direction: column;
}

.chords {
  flex: 1;
}

.staff {
  flex: 3;
  display: flex;
}

.measNum {
  flex: 1;
}

.timeSig {
  flex: 3;
}

.sixteenth {
  width: 6.25%;
}
.eighth {
  width: 12.5%;
}
.quarter {
  width: 25%;
}
